.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 200px;

}

button {
    background-color: rgb(37, 173, 126);
    padding: 10px;
}

.span-two {
    grid-column: span 2;
}



button:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

}